In [53]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, explained_variance_score,confusion_matrix,accuracy_score
from sklearn import tree

In [54]:
df = pd.read_excel("loan.xlsx")
df.head()

,Sex,Age,Time_at_address,Res_status,Telephone,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance,Decision
0,M,50.750000,0.585,owner,given,unemploye,unemploye,0,0,f,given,145,0,reject
1,M,19.670000,10.000,rent,not_given,labourer,governmen,0,0,t,given,140,0,reject
2,F,52.830002,15.000,owner,given,creative_,private_s,5,14,f,given,0,2200,accept
3,M,22.670000,2.540,rent,not_given,creative_,governmen,2,0,f,given,0,0,accept
4,M,29.250000,13.000,owner,given,driver,governmen,0,0,f,given,228,0,reject

In [55]:
sex = pd.get_dummies(df['Sex'])
res_s = pd.get_dummies(df['Res_status'])
tele = pd.get_dummies(df['Telephone'])
occup= pd.get_dummies(df['Occupation'])
job_s = pd.get_dummies(df['Job_status'])
acc_r = pd.get_dummies(df['Acc_ref'])
lia_ref = pd.get_dummies(df['Liab_ref'])
dec = pd.get_dummies(df['Decision'])
df= pd.concat((df,sex,res_s,tele,occup,job_s,acc_r,lia_ref,dec),axis=1)

df.head(10)

,Sex,Age,Time_at_address,Res_status,Telephone,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,...,retired,self_empl,student,unemploye,given,oth_inst_,f,t,accept,reject
0,M,50.750000,0.585,owner,given,unemploye,unemploye,0,0,f,...,0,0,0,1,1,0,1,0,0,1
1,M,19.670000,10.000,rent,not_given,labourer,governmen,0,0,t,...,0,0,0,0,1,0,0,1,0,1
2,F,52.830002,15.000,owner,given,creative_,private_s,5,14,f,...,0,0,0,0,1,0,1,0,1,0
3,M,22.670000,2.540,rent,not_given,creative_,governmen,2,0,f,...,0,0,0,0,1,0,1,0,1,0
4,M,29.250000,13.000,owner,given,driver,governmen,0,0,f,...,0,0,0,0,1,0,1,0,0,1
5,F,16.080000,0.335,owner,given,unemploye,unemploye,0,1,f,...,0,0,0,1,1,0,1,0,0,1
6,M,23.170000,11.125,owner,given,professio,governmen,0,1,f,...,0,0,0,0,1,0,1,0,1,0
7,F,27.580000,3.000,owner,given,manager,private_s,2,1,t,...,0,0,0,0,1,0,0,1,0,1
8,F,19.170000,5.415,owner,given,guard_etc,governmen,0,0,f,...,0,0,0,0,1,0,1,0,0,1
9,F,27.250000,0.290,owner,given,manager,governmen,0,1,t,...,0,0,0,0,1,0,0,1,0,1

In [56]:
df =df.drop(['Sex','Res_status','Telephone','Occupation','Job_status','Liab_ref','Acc_ref','Decision'],axis=1)

In [57]:
df

,Age,Time_at_address,Time_employed,Time_bank,Home_Expn,Balance,F,M,owner,rent,...,retired,self_empl,student,unemploye,given,oth_inst_,f,t,accept,reject
0,50.750000,0.585,0,0,145,0,0,1,1,0,...,0,0,0,1,1,0,1,0,0,1
1,19.670000,10.000,0,0,140,0,0,1,0,1,...,0,0,0,0,1,0,0,1,0,1
2,52.830002,15.000,5,14,0,2200,1,0,1,0,...,0,0,0,0,1,0,1,0,1,0
3,22.670000,2.540,2,0,0,0,0,1,0,1,...,0,0,0,0,1,0,1,0,1,0
4,29.250000,13.000,0,0,228,0,0,1,1,0,...,0,0,0,0,1,0,1,0,0,1
5,16.080000,0.335,0,1,160,126,1,0,1,0,...,0,0,0,1,1,0,1,0,0,1
6,23.170000,11.125,0,1,100,0,0,1,1,0,...,0,0,0,0,1,0,1,0,1,0
7,27.580000,3.000,2,1,280,10,1,0,1,0,...,0,0,0,0,1,0,0,1,0,1
8,19.170000,5.415,0,0,80,484,1,0,1,0,...,0,0,0,0,1,0,1,0,0,1
9,27.250000,0.290,0,1,272,108,1,0,1,0,...,0,0,0,0,1,0,0,1,0,1
10,34.500000,4.040,8,7,195,0,0,1,0,1,...,0,1,0,0,1,0,0,1,1,0
11,20.000000,1.250,0,0,140,4,0,1,0,1,...,0,0,0,0,1,0,1,0,0,1
12,34.419998,1.335,0,0,440,4500,0,1,1,0,...,0,1,0,0,1,0,0,1,0,1
13,41.000000,0.040,0,1,560,0,0,1,1,0,...,0,0,0,0,0,1,1,0,1,0
14,24.750000,3.000,1,19,0,500,1,0,1,0,...,0,0,0,0,1,0,1,0,1,0
15,38.250000,6.000,1,0,0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,1,0
16,28.000000,2.000,4,2,181,0,0,1,1,0,...,0,0,0,0,1,0,0,1,1,0
17,27.670000,2.040,0,0,180,50,1,0,1,0,...,0,0,0,0,1,0,0,1,0,1
18,22.500000,0.415,0,0,144,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,1
19,22.420000,5.665,2,7,129,3257,1,0,1,0,...,0,0,0,0,1,0,1,0,1,0
20,23.250000,1.500,2,3,0,582,0,1,1,0,...,0,0,0,0,1,0,0,1,1,0
21,16.920000,0.335,0,0,200,0,0,1,0,1,...,0,0,0,0,0,1,1,0,0,1
22,29.920000,1.835,4,0,260,200,0,1,1,0,...,0,0,0,0,1,0,1,0,1,0
23,27.830000,1.000,3,0,176,537,0,1,0,1,...,0,0,0,0,1,0,1,0,0,1
24,34.250000,3.000,7,0,0,0,0,1,1,0,...,0,0,0,0,1,0,0,1,1,0
25,33.000000,2.500,7,0,280,0,0,1,0,1,...,0,0,0,0,1,0,0,1,0,1
26,28.750000,1.165,0,0,280,0,0,1,1,0,...,0,0,0,0,0,1,1,0,0,1
27,55.919998,11.500,5,5,0,8851,0,1,1,0,...,0,0,0,1,1,0,1,0,1,0
28,34.419998,4.250,3,2,274,610,0,1,1,0,...,0,1,0,0,1,0,1,0,1,0
29,51.919998,6.500,3,0,73,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,43.000000,0.290,1,8,100,375,0,1,0,1,...,0,0,0,0,1,0,1,0,1,0
400,52.330002,1.375,9,0,200,100,0,1,0,1,...,0,0,0,0,1,0,0,1,0,1
401,21.830000,0.250,0,0,0,0,0,1,1,0,...,0,0,0,0,1,0,0,1,1,0
402,25.670000,3.250,2,1,416,21,0,1,1,0,...,0,0,0,0,1,0,0,1,0,1
403,22.670000,0.750,2,2,200,394,1,0,1,0,...,0,0,0,0,1,0,0,1,0,1
404,33.669998,0.375,0,0,300,44,1,0,1,0,...,0,0,0,0,1,0,1,0,1,0
405,21.670000,11.500,0,11,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,1,0
406,62.750000,7.000,0,0,0,12,0,1,1,0,...,1,0,0,0,1,0,1,0,0,1
407,23.330000,11.625,0,0,160,300,0,1,0,1,...,0,0,0,0,1,0,0,1,1,0
408,31.330000,19.500,7,16,0,5000,0,1,1,0,...,0,0,0,0,1,0,1,0,1,0
409,25.000000,12.000,2,2,120,5,0,1,1,0,...,0,0,0,0,1,0,0,1,0,1
410,40.580002,3.290,3,0,400,0,0,1,1,0,...,0,0,0,0,0,1,0,1,0,1
411,25.750000,0.750,0,0,349,23,0,1,1,0,...,0,1,0,0,1,0,1,0,1,0
412,49.500000,7.585,7,15,0,5000,0,1,1,0,...,0,1,0,0,1,0,0,1,1,0
413,18.250000,0.165,0,0,280,0,0,1,1,0,...,0,0,0,0,0,1,0,1,0,1
414,38.330002,4.415,0,0,160,0,1,0,1,0,...,0,0,0,0,1,0,1,0,0,1
415,44.830002,7.000,1,0,160,2,0,1,0,1,...,0,0,0,0,1,0,1,0,0,1
416,31.580000,0.750,3,0,320,0,0,1,0,1,...,0,0,0,0,1,0,0,1,0,1
417,25.920000,0.875,0,2,174,3,0,1,1,0,...,0,0,0,0,1,0,0,1,0,1
418,42.750000,3.000,1,0,0,200,0,1,1,0,...,0,1,0,0,1,0,1,0,0,1
419,17.080000,0.085,0,0,140,722,0,1,0,1,...,0,0,0,0,1,0,1,0,0,1
420,28.170000,0.125,0,0,216,2100,0,1,0,1,...,0,0,0,0,1,0,1,0,0,1
421,17.920000,0.205,0,0,280,750,0,1,1,0,...,0,0,0,0,1,0,1,0,0,1
422,25.420000,0.540,0,1,272,444,0,1,1,0,...,0,0,0,0,1,0,1,0,0,1
423,30.670000,2.500,2,0,340,0,0,1,1,0,...,0,0,0,0,0,1,0,1,0,1
424,34.169998,2.750,2,0,232,200,0,1,1,0,...,0,1,0,0,1,0,0,1,0,1
425,22.250000,1.250,3,0,280,0,1,0,0,1,...,0,0,0,1,1,0,1,0,0,1
426,23.330000,1.500,1,0,422,200,0,1,1,0,...,0,0,0,0,1,0,1,0,1,0
427,21.000000,4.790,2,1,80,300,0,1,0,1,...,0,0,0,0,1,0,0,1,1,0
428,27.750000,1.290,0,0,140,0,0,1,1,0,...,0,0,0,0,0,1,0,1,0,1

In [58]:
X = df.values
y = df['accept'].values
X = df.drop(['accept','reject'],axis=1)

In [59]:
X

,Age,Time_at_address,Time_employed,Time_bank,Home_Expn,Balance,F,M,owner,rent,...,military,private_s,retired,self_empl,student,unemploye,given,oth_inst_,f,t
0,50.750000,0.585,0,0,145,0,0,1,1,0,...,0,0,0,0,0,1,1,0,1,0
1,19.670000,10.000,0,0,140,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,1
2,52.830002,15.000,5,14,0,2200,1,0,1,0,...,0,1,0,0,0,0,1,0,1,0
3,22.670000,2.540,2,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
4,29.250000,13.000,0,0,228,0,0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
5,16.080000,0.335,0,1,160,126,1,0,1,0,...,0,0,0,0,0,1,1,0,1,0
6,23.170000,11.125,0,1,100,0,0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
7,27.580000,3.000,2,1,280,10,1,0,1,0,...,0,1,0,0,0,0,1,0,0,1
8,19.170000,5.415,0,0,80,484,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0
9,27.250000,0.290,0,1,272,108,1,0,1,0,...,0,0,0,0,0,0,1,0,0,1
10,34.500000,4.040,8,7,195,0,0,1,0,1,...,0,0,0,1,0,0,1,0,0,1
11,20.000000,1.250,0,0,140,4,0,1,0,1,...,0,1,0,0,0,0,1,0,1,0
12,34.419998,1.335,0,0,440,4500,0,1,1,0,...,0,0,0,1,0,0,1,0,0,1
13,41.000000,0.040,0,1,560,0,0,1,1,0,...,0,1,0,0,0,0,0,1,1,0
14,24.750000,3.000,1,19,0,500,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0
15,38.250000,6.000,1,0,0,0,1,0,1,0,...,0,1,0,0,0,0,1,0,0,1
16,28.000000,2.000,4,2,181,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
17,27.670000,2.040,0,0,180,50,1,0,1,0,...,0,1,0,0,0,0,1,0,0,1
18,22.500000,0.415,0,0,144,0,1,0,1,0,...,0,1,0,0,0,0,0,1,0,1
19,22.420000,5.665,2,7,129,3257,1,0,1,0,...,0,1,0,0,0,0,1,0,1,0
20,23.250000,1.500,2,3,0,582,0,1,1,0,...,0,1,0,0,0,0,1,0,0,1
21,16.920000,0.335,0,0,200,0,0,1,0,1,...,0,1,0,0,0,0,0,1,1,0
22,29.920000,1.835,4,0,260,200,0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
23,27.830000,1.000,3,0,176,537,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
24,34.250000,3.000,7,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
25,33.000000,2.500,7,0,280,0,0,1,0,1,...,0,1,0,0,0,0,1,0,0,1
26,28.750000,1.165,0,0,280,0,0,1,1,0,...,0,1,0,0,0,0,0,1,1,0
27,55.919998,11.500,5,5,0,8851,0,1,1,0,...,0,0,0,0,0,1,1,0,1,0
28,34.419998,4.250,3,2,274,610,0,1,1,0,...,0,0,0,1,0,0,1,0,1,0
29,51.919998,6.500,3,0,73,0,1,0,1,0,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,43.000000,0.290,1,8,100,375,0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
400,52.330002,1.375,9,0,200,100,0,1,0,1,...,0,0,0,0,0,0,1,0,0,1
401,21.830000,0.250,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
402,25.670000,3.250,2,1,416,21,0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
403,22.670000,0.750,2,2,200,394,1,0,1,0,...,0,1,0,0,0,0,1,0,0,1
404,33.669998,0.375,0,0,300,44,1,0,1,0,...,0,1,0,0,0,0,1,0,1,0
405,21.670000,11.500,0,11,0,0,1,0,0,1,...,0,1,0,0,0,0,1,0,0,1
406,62.750000,7.000,0,0,0,12,0,1,1,0,...,0,0,1,0,0,0,1,0,1,0
407,23.330000,11.625,0,0,160,300,0,1,0,1,...,0,1,0,0,0,0,1,0,0,1
408,31.330000,19.500,7,16,0,5000,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
409,25.000000,12.000,2,2,120,5,0,1,1,0,...,0,1,0,0,0,0,1,0,0,1
410,40.580002,3.290,3,0,400,0,0,1,1,0,...,0,1,0,0,0,0,0,1,0,1
411,25.750000,0.750,0,0,349,23,0,1,1,0,...,0,0,0,1,0,0,1,0,1,0
412,49.500000,7.585,7,15,0,5000,0,1,1,0,...,0,0,0,1,0,0,1,0,0,1
413,18.250000,0.165,0,0,280,0,0,1,1,0,...,0,1,0,0,0,0,0,1,0,1
414,38.330002,4.415,0,0,160,0,1,0,1,0,...,0,1,0,0,0,0,1,0,1,0
415,44.830002,7.000,1,0,160,2,0,1,0,1,...,0,1,0,0,0,0,1,0,1,0
416,31.580000,0.750,3,0,320,0,0,1,0,1,...,0,1,0,0,0,0,1,0,0,1
417,25.920000,0.875,0,2,174,3,0,1,1,0,...,0,1,0,0,0,0,1,0,0,1
418,42.750000,3.000,1,0,0,200,0,1,1,0,...,0,0,0,1,0,0,1,0,1,0
419,17.080000,0.085,0,0,140,722,0,1,0,1,...,0,1,0,0,0,0,1,0,1,0
420,28.170000,0.125,0,0,216,2100,0,1,0,1,...,0,1,0,0,0,0,1,0,1,0
421,17.920000,0.205,0,0,280,750,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
422,25.420000,0.540,0,1,272,444,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
423,30.670000,2.500,2,0,340,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,1
424,34.169998,2.750,2,0,232,200,0,1,1,0,...,0,0,0,1,0,0,1,0,0,1
425,22.250000,1.250,3,0,280,0,1,0,0,1,...,0,0,0,0,0,1,1,0,1,0
426,23.330000,1.500,1,0,422,200,0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
427,21.000000,4.790,2,1,80,300,0,1,0,1,...,0,1,0,0,0,0,1,0,0,1
428,27.750000,1.290,0,0,140,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,1

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,random_state=0)

In [61]:
dt = tree.DecisionTreeClassifier(max_depth=5)
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.5813953488372093

In [62]:
y_pred = dt.predict(X_test)
dt.score(X_test, y_test)
y_pred = dt.predict(X_test)

In [63]:

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[16,  6],
       [12,  9]], dtype=int64)

In [64]:
accuracy_score(y_test, y_pred)*100

58.139534883720934

In [65]:
#Randon Forest using ensemble model
from sklearn.ensemble import RandomForestClassifier

random = ensemble.RandomForestClassifier(n_estimators=100)
random.fit(X_train, y_train)
random.score(X_test, y_test)

0.6744186046511628

# Using Chefboost to avoid encoding

In [6]:
from chefboost import Chefboost as chef
import pandas as pd

In [7]:
df = pd.read_excel("loan.xlsx")

#regular decision tree

In [10]:
config = {'algorithm':'ID3'}
model =chef.fit(df,config)

[INFO]:  2 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  31.1659255027771  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  99.76689976689977 % on  429  instances
Labels:  ['reject' 'accept']
Confusion matrix:  [[236, 0], [1, 192]]
Precision:  100.0 %, Recall:  99.5781 %, F1:  99.7886 %

In [11]:
#Random Forest
config = {'algorithm':'ID3','enableRandomForest':True, 'num_of_trees':5}
model =chef.fit(df,config)

[INFO]:  2 CPU cores will be allocated in parallel running
ID3  tree is going to be built...

Sub decision tree 5 is processing: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:00<00:00, 40.02it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:18<00:00,  3.69s/it]

-------------------------
finished in  18.80479407310486  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  81.58508158508158 % on  429  instances
Labels:  ['reject' 'accept']
Confusion matrix:  [[206, 48], [31, 144]]
Precision:  81.1024 %, Recall:  86.9198 %, F1:  83.9104 %